<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro.IconPacks" version="4.11.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.BootstrapIcons" version="4.11.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.1.2-ci168" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.8.0-ci168" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net7.0" />
</packages>